/* box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}


ul,
ol {
  padding: 0;
}


body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/*  body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}


ul,
ol {
  list-style: none;
}


a:not([class]) {
  text-decoration-skip-ink: auto;
}


img {
  max-width: 100%;
  display: block;
}

/* article*/
article > * + * {
  margin-top: 1em;
}


input,
button,
textarea,
select {
  font: inherit;
}


@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(245, 150, 121);
  background: linear-gradient(
    180deg,
    rgb(245, 151, 74) 10%,
    rgba(236, 59, 5, 0.973) 100%
  );
  background-attachment: fixed;
  color: white;
  text-align: center;
}

.avatar {
  vertical-align: middle;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 10px auto 20px;
  display: block;
  background-color: rgba(255,255,255, 255);
  box-shadow: 0px 6px 60px 16px rgba(255,255,255, 255);
}


.mystorebtn {

	background-color: #fff;
	color: black;
	padding: 5px;
	width: 80%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 8px 4px;
	cursor: pointer;
	border-radius: 20px;
  
}
.mydiv {
  width: 80%;
  margin: 10px;
	background-color: #fff;
	color: black;
	cursor: pointer;
	border-radius: 20px;
  
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  display: inline-block;
  padding: 0;
}
.wrapper ul li {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #D8E2DC;
  float: left;
  transition: all 0.5s ease;
}
.wrapper ul li .fa {
  color: #D8E2DC;
  margin-top: 20px;
  transition: all 0.5s ease;
}
/*twitter*/
.wrapper ul li:hover.patreon {
  border: 5px solid #0f0f0f;
  box-shadow: 0 0 15px #0f0f0f;
  transition: all 0.5s ease;
}
.wrapper ul li:hover .fa-patreon {
  color: #0f0f0f;
  text-shadow: 0 0 15px #0f0f0f;
  transition: all 0.5s ease;
}
/*twitter*/
.wrapper ul li:hover.twitter {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}
.wrapper ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #0cadec;
  transition: all 0.5s ease;
}
/* instagram */
.wrapper ul li:hover.instagram {
  border: 5px solid #e70e0e;
  box-shadow: 0 0 15px #e70e0e;
  transition: all 0.5s ease;
}
.wrapper ul li:hover .fa-instagram {
  color: #e70e0e;
  text-shadow: 0 0 15px #e70e0e;
  transition: all 0.5s ease;
}

